---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="about">
  <container>
    <div class="about-container">
        <div class="profile">
          <div class="profile-text">
            <h2>田村育歩 / TAMURA Ikuho</h2>
            <p>グラフィックデザイナー<br>
            1997年7月16日生まれ。愛媛県松山市出身。東京都在住。尾道市立大学芸術文化学部美術学科 グラフィックデザイン専攻を卒業。<br>
            グラフィックデザイン、タイポグラフィ、映像、3DCGなどを用いた、グラフィック領域における視覚表現の探求と新しい情緒的価値の創造を軸に、ビジュアル制作から様々な媒体への展開を含めた、包括的なデザイン制作を行なっています。<br>
            主なWorksに <a href="https://avyss-magazine.com/2023/04/20/42986/" target="_blank" rel="noopener noreferrer">パソコン音楽クラブ「FINE LINE」全曲トレーラームービー M07 "Omitnak"</a>、<a href="https://linkco.re/AuMd3ZAB?lang=ja" target="_blank" rel="noopener noreferrer">minmi "Light it up" Cover artwork</a>、<a href="https://www.youtube.com/watch?v=eCRMqFAwbvQ" target="_blank" rel="noopener noreferrer">AI OTSUKA REMIX PROJECT "さくらんぼ (Kan Sano Remix)" MV</a>へのグラフィックワークの提供 など。</p>
            <p>-</p>
            <p>Graphic designer<br>
            Born on July 16, 1997. Born in Matsuyama City, Ehime Prefecture. Lives and works in Tokyo. After graduating from Onomichi City University.<br>
            Focusing on graphic design, typography, video, 3DCG and commission work, the company practices the creation of new emotional values through the exploration of visual expression in the graphic domain. <br>
            Major works include: <a href="https://avyss-magazine.com/2023/04/20/42986/" target="_blank" rel="noopener noreferrer">Trailer movie for all songs for Pasocon music club "FINE LINE" M07 "Omitnak"</a>, <a href="https://linkco.re/AuMd3ZAB?lang=ja" target="_blank" rel="noopener noreferrer">cover artwork for minmi "Light it up"</a>, <a href="https://www.youtube.com/watch?v=eCRMqFAwbvQ" target="_blank" rel="noopener noreferrer">graphic work for AI OTSUKA REMIX PROJECT "Cherry (Kan Sano Remix)" MV</a>, etc.</p>
            <p>-</p>
          </div>
          <div class="profile-img">
            <img src="./_images/profile.webp" alt="">
          </div>
        </div>
    </div>
    <div class="about-container">
        <h2>Award</h2>
        <p><a href="https://gemin1.xyz/20240520-globaldesignaward/" target="_blank" rel="noopener noreferrer">GEMINI Laboratory GLOBAL DESIGN AWARDS 特別賞 / 2024</a><br>
        <a href="https://whatunitesus5online.wixsite.com/wuuo/kopyas%C4%B1-deneme?lang=en" target="_blank" rel="noopener noreferrer">What Unites Us 5 入選 / 2024</a><br>
        <a href="https://www.instagram.com/p/C0yRyTrykyZ/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank" rel="noopener noreferrer">Mastering Type Second Edition 入選 / 2023</a><br>
        <a href="https://warsawposterbiennale.com/en/aktualnosci/37/results-of-pre-selection-voting-for-the-main-competition?fbclid=PAAaYI05oWG1O4hcQlzJCHa72jZvnd2tHpBhq7-glh0kvisQ5S4WboIZMD21g" target="_blank" rel="noopener noreferrer">第28回ワルシャワ国際ポスタービエンナーレ 入選 / 2023</a><br>
        第13回 世界ポスタートリエンナーレトヤマ2021 U30部門 入選 / 2021<br>
        日本タイポグラフィ年鑑2021 ロゴタイプ&シンボルマーク部門 入選 / 2021<br>
        第11回 バンフー年賀状コンテスト 優秀賞 / 2020<br>
        JAGDA 国際学生ポスターアワード2020 入選 / 2020<br>
        KENZAN 2020 / 2020<br>
        IAG Award 2020 入選 / 2020<br>
        尾道市立大学卒業制作展2020 優秀賞 / 2020<br>
        JAGDA Hiroshima 学生平和ポスターコンペティション 入選 / 2019</p>
        <p>-</p>
    </div>
    <div class="about-container">
        <h2>Press</h2>
        <p><a href="https://bnn.co.jp/products/9784802512817" target="_blank" rel="noopener noreferrer">神話とホラーのデザイン (株式会社BNN) 掲載 / 2023</a><br>
        <a href="https://www.instagram.com/p/CrMXd17Mvpu/?utm_source=ig_web_copy_link" target="_blank" rel="noopener noreferrer">36days of type 10, Ofiicial Pickup / 2023</a><br>
        <a href="https://www.haconiwa-mag.com/information/2022/10/u35tsukuruhitojiten/" target="_blank" rel="noopener noreferrer">U35つくるひと事典 (翔泳社) 掲載 / 2022</a><br>
        ジャパン・クリエイターズ2022 掲載 / 2022<br>
        <a href="https://outstanding-web.com/2255" target="_blank" rel="noopener noreferrer">OUTSTANDING WEB / 2021</a></p>
        <p>-</p>
    </div>
    <div class="about-container">
        <h2>Exhibition</h2>
        <p>J-WAVE ARRTSIDE CAST / 2024<br>
        田村育歩 個展「CONTOUR」 / 2021</p>
        <p>-</p>
    </div>
    <div class="about-container">
        <h2>Education</h2>
        <p><a href="https://speakerdeck.com/ikuhotamura/2023nian-du-wei-dao-shi-li-da-xue-te-bie-jiang-yi-dezaintobian-ji" target="_blank" rel="noopener noreferrer">尾道市立大学 特別講義「デザインと編集」 / 2023</a></p>
        <p>-</p>
    </div>
    <div class="about-container">
        <h2>Blog</h2>
        <p><a href="https://note.com/dondonsodatuyo/n/ndc294e1b1b7e" target="_blank" rel="noopener noreferrer">36days of type 10</a><br>
        <a href="https://note.com/dondonsodatuyo/n/ne5a9e73b5a20" target="_blank" rel="noopener noreferrer">尾道市立大学 特別講義「デザインと編集」</a><br>
        <a href="https://note.com/dondonsodatuyo/n/n680b934af0e1" target="_blank" rel="noopener noreferrer">パソコン音楽クラブ「FINE LINE」全曲トレーラームービー M07 “Omitnak" -TouchDesignerの導入と習熟-</a></p>
    </div>
  </container>
</Layout>

<style>
  .about-container {
    width: 50%;
    margin-top: 3rem;
  }

  @media screen and (max-width: 560px){
  .about-container {
    width: 100%;
  }
  }

</style>