---
import Layout from '../../layouts/Layout.astro';
import Caption from '../../components/Caption.astro';
import Img from '../../components/Img.astro';
---

<Layout title="12">
        <Caption>
            <h2>大森靖子 "自由字架ツアー 2021 in Tokyo Sogetsu Hall" Digital Photobook</h2>
            <p>For : avex.inc<br>
            Graphic design : TAMURA Ikuho<br>
            2021</p>
            <p>-</p>
        </Caption>
        <Img>
            <img src="../../public/asset/img/12.webp" alt="Image 12">
        </Img>
</Layout>

<style>    
    img {
        width: 65vw;
        margin: auto;
        display: block;
    }

    @media screen and (max-width: 560px){
        img {
        width: 90vw;

        }
    }
</style>