---

---
<div id="photos">
  <a href="works/48"><img src="../../public/asset/img/48.webp" class="item-img" alt="Image 48"></a>
  <a href="works/47"><img src="../../public/asset/img/47.webp" class="item-img" alt="Image 47"></a>
  <a href="works/46"><img src="../../public/asset/img/46.webp" class="item-img" alt="Image 46"></a>
  <a href="works/45"><img src="../../public/asset/img/45.webp" class="item-img" alt="Image 45"></a>
  <a href="works/44"><img src="../../public/asset/img/44.webp" class="item-img" alt="Image 44"></a>
  <a href="works/43"><img src="../../public/asset/img/43.webp" class="item-img" alt="Image 43"></a>
  <a href="works/42"><img src="../../public/asset/img/42.webp" class="item-img" alt="Image 42"></a>
  <a href="works/41"><img src="../../public/asset/img/41.webp" class="item-img" alt="Image 41"></a>
  <a href="works/40"><img src="../../public/asset/img/40.webp" class="item-img" alt="Image 40"></a>
  <a href="works/39"><img src="../../public/asset/img/39.webp" class="item-img" alt="Image 39"></a>
  <a href="works/38"><img src="../../public/asset/img/38.webp" class="item-img" alt="Image 38"></a>
  <a href="works/37"><img src="../../public/asset/img/37.webp" class="item-img" alt="Image 37"></a>
  <a href="works/36"><img src="../../public/asset/img/36.webp" class="item-img" alt="Image 36"></a>
  <a href="works/35"><img src="../../public/asset/img/35.webp" class="item-img" alt="Image 35"></a>
  <a href="works/34"><img src="../../public/asset/img/34.webp" class="item-img" alt="Image 34"></a>
  <a href="works/33"><img src="../../public/asset/img/33.webp" class="item-img" alt="Image 33"></a>
  <a href="works/32"><img src="../../public/asset/img/32.webp" class="item-img" alt="Image 32"></a>
  <a href="works/31"><img src="../../public/asset/img/31.webp" class="item-img" alt="Image 31"></a>
  <a href="works/30"><img src="../../public/asset/img/30.webp" class="item-img" alt="Image 30"></a>
  <a href="works/29"><img src="../../public/asset/img/29.webp" class="item-img" alt="Image 29"></a>
  <a href="works/28"><img src="../../public/asset/img/28.webp" class="item-img" alt="Image 28"></a>
  <a href="works/27"><img src="../../public/asset/img/27.webp" class="item-img" alt="Image 27"></a>
  <a href="works/26"><img src="../../public/asset/img/26.webp" class="item-img" alt="Image 26"></a>
  <a href="works/25"><img src="../../public/asset/img/25.webp" class="item-img" alt="Image 25"></a>
  <a href="works/24"><img src="../../public/asset/img/24.webp" class="item-img" alt="Image 24"></a>
  <a href="works/23"><img src="../../public/asset/img/23.webp" class="item-img" alt="Image 23"></a>
  <a href="works/22"><img src="../../public/asset/img/22.webp" class="item-img" alt="Image 22"></a>
  <a href="works/21"><img src="../../public/asset/img/21.webp" class="item-img" alt="Image 21"></a>
  <a href="works/20"><img src="../../public/asset/img/20.webp" class="item-img" alt="Image 20"></a>
  <a href="works/19"><img src="../../public/asset/img/19.webp" class="item-img" alt="Image 19"></a>
  <a href="works/18"><img src="../../public/asset/img/18.webp" class="item-img" alt="Image 18"></a>
  <a href="works/17"><img src="../../public/asset/img/17.webp" class="item-img" alt="Image 17"></a>
  <a href="works/16"><img src="../../public/asset/img/16.webp" class="item-img" alt="Image 16"></a>
  <a href="works/15"><img src="../../public/asset/img/15.webp" class="item-img" alt="Image 15"></a>
  <a href="works/14"><img src="../../public/asset/img/14.webp" class="item-img" alt="Image 14"></a>
  <a href="works/13"><img src="../../public/asset/img/13.webp" class="item-img" alt="Image 13"></a>
  <a href="works/12"><img src="../../public/asset/img/12.webp" class="item-img" alt="Image 12"></a>
  <a href="works/11"><img src="../../public/asset/img/11.webp" class="item-img" alt="Image 11"></a>
  <a href="works/10"><img src="../../public/asset/img/10.webp" class="item-img" alt="Image 10"></a>
  <a href="works/09"><img src="../../public/asset/img/09.webp" class="item-img" alt="Image 09"></a>
  <a href="works/08"><img src="../../public/asset/img/08.webp" class="item-img" alt="Image 08"></a>
  <a href="works/07"><img src="../../public/asset/img/07.webp" class="item-img" alt="Image 07"></a>
  <a href="works/06"><img src="../../public/asset/img/06.webp" class="item-img" alt="Image 06"></a>
  <a href="works/05"><img src="../../public/asset/img/05.webp" class="item-img" alt="Image 05"></a>
  <a href="works/04"><img src="../../public/asset/img/04.webp" class="item-img" alt="Image 04"></a>
  <a href="works/03"><img src="../../public/asset/img/03.webp" class="item-img" alt="Image 03"></a>
  <a href="works/02"><img src="../../public/asset/img/02.webp" class="item-img" alt="Image 02"></a>
  <a href="works/01"><img src="../../public/asset/img/01.webp" class="item-img" alt="Image 01"></a>  
</div>

<style>

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
 
   -webkit-column-count: 3;
   -webkit-column-gap:   0.5rem;
   -moz-column-count:    3;
   -moz-column-gap:      0.5rem;
   column-count:         3;
   column-gap:           0.5rem;
}

@media screen and (max-width: 560px){
  #photos {
   /* Prevent vertical gaps */
   line-height: 0;
 
   -webkit-column-count: 2;
   -webkit-column-gap:   0.5rem;
   -moz-column-count:    2;
   -moz-column-gap:      0.5rem;
   column-count:         2;
   column-gap:           0.5rem;
}
  }





#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: .5rem;
}

#photos img:hover {
    border-radius: 1rem;
    transition: all  0.2s ease-out;

}

</style>