---

---
<div id="list">
    <a href="works/50">
        <div id="credit">
            <h2>50<br>
            free will material</h2>
            <p>For : GEMINI Laboratory GLOBAL DESIGN AWARDS<br>
            Graphic design : TAMURA Ikuho<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/49">
        <div id="credit">
            <h2>49<br>
            Daily rotoscoping study</h2>
            <p>Independent production<br>
            Graphic design : TAMURA Ikuho<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/48">
        <div id="credit">
            <h2>48<br>
            36dyas of type 11</h2>
            <p>For : 36dyas of type<br>
            Graphic designn : TAMURA Ikuho<br>
            Music : SKYTOPIA<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/47">
        <div id="credit">
            <h2>47<br>
            What Unites Us?</h2>
            <p>For : What Unites Us 5<br>
            Graphic design : TAMURA Ikuho<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/46">
        <div id="credit">
            <h2>46<br>
            文化庁メディア芸術クリエイター育成支援事業 企画募集</h2>
            <p>For : 文化庁メディア芸術クリエイター育成支援事業<br>
            Graphic design : TAMURA Ikuho<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/45">
        <div id="credit">
            <h2>45<br>
            文化庁メディア芸術クリエイター育成支援事業 成果発表イベント ｢ENCOUNTERS」</h2>
            <p>For : 文化庁メディア芸術クリエイター育成支援事業<br>
            Creative direction : Loftowrk.Inc<br>
            Satellite ivent KV, Graphic design, Motion design : TAMURA Ikuho<br>
            Main exhibition KV, Graphic design : STUDIO PT.<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/44">
        <div id="credit">
            <h2>44<br>
            あだちシティコンポスト Package design</h2>
            <p>For : あだちコンポスト委員会<br>
            Creative Director : 秋山慶太（ふしぎデザイン株式会社）<br>
            Graphic design, Motion design : TAMURA Ikuho<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/43">
        <div id="credit">
            <h2>43<br>
            DISTANCE</h2>
            <p>Independent production<br>
            Graphic design : TAMURA Ikuho<br>
            2024</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/42">
        <div id="credit">
            <h2>42<br>
            DIGLE MAG December - January issue Cover artwork</h2>
            <p>For : DIGLE<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/41">
        <div id="credit">
            <h2>41<br>
            NEWVIEW FEST 2023</h2>
            <p>For : NEWVIEW<br>
            Creative directino : Loftwork.Inc<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/40">
        <div id="credit">
            <h2>40<br>
            SNEEZE</h2>
            <p>For : Kho Ishihara, Loftowrk.Inc<br>
            Development :  Kho Ishihara<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/39">
        <div id="credit">
            <h2>39<br>
            QUICK DATA DESIGN MEET UP</h2>
            <p>For : Quick<br>
            Creative direction : Loftwork Inc.<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/38">
        <div id="credit">
            <h2>38<br>
            Bearwear oneman show 2023 NFT-ticket</h2>
            <p>For : Bearwear<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/37">
        <div id="credit">
            <h2>37<br>
            DIGLE SOUND Live season 2023</h2>
            <p>For : DIGLE<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/36">
        <div id="credit">
            <h2>36<br>
            KABIN Kyoto Launch Party</h2>
            <p>For : KABIN Kyoto<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/35">
        <div id="credit">
            <h2>35<br>
            Bellows alphabet typography</h2>
            <p>Independent production<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/34">
        <div id="credit">
            <h2>34<br>
            TKMK PROTOTYPING</h2>
            <p>For : Loftwork Inc.<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/33">
        <div id="credit">
            <h2>33<br>
            DIGLE SOUND Lounge in Odawara season 2023</h2>
            <p>For : DIGLE<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/32">
        <div id="credit">
            <h2>32<br>
            Flowers, Books, Life</h2>
            <p>For : ORANGE PARLOR pop-up in SHIBUYA PARCO<br>
            Graphic design : TAMURA Ikuho<br>
            Printing : 徳川印刷<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/31">
        <div id="credit">
            <h2>31<br>
            パソコン音楽クラブ「FINE LINE」全曲トレーラームービー M07 "Omitnak"</h2>
            <p>For : パソコン音楽クラブ<br>
            “Omitnak" Director : TAMURA Ikuho<br>
            Director : Charles Chung (maxilla)&Shunsuke Sugiyama (mimoid)<br>
            Producer, Planner : Tsuyoshi Yabuki (maxilla)<br>
            CG&Animation Producer : Takemi Inagaki<br>
            Chief Production Manager : Sho Imoto<br>
            Production Assistant : Kengo Hanada<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/30">
        <div id="credit">
            <h2>30<br>
            Coldhot Remix Project 2023</h2>
            <p>For : Coldhot<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/29">
        <div id="credit">
            <h2>29<br>
            36days of type 10</h2>
            <p>For : 36days of type<br>
            Graphic design : TAMURA Ikuho<br>
            Music : SKYTOPIA<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/28">
        <div id="credit">
            <h2>28<br>
            NEW YEAR CARD 2023</h2>
            <p>Independent production<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/27">
        <div id="credit">
            <h2>27<br>
            NEWVIEW CYPHER Season5</h2>
            <p>For : NEWVIEW CYPHER<br>
            Graphic design, Motion design, ARVR development : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/26">
        <div id="credit">
            <h2>26<br>
            SKYTOPIA "Warped"</h2>
            <p>For : SKYTOPIA<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/25">
        <div id="credit">
            <h2>25<br>
            OHL "Xplosion"</h2>
            <p>For : OHL<br>
            Graphic design : TAMURA Ikuho<br>
            2023</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/24">
        <div id="credit">
            <h2>24<br>
            minmi "Light it up"</h2>
            <p>For : minmi<br>
            Criative direction : Asami Kiyokawa<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/23">
        <div id="credit">
            <h2>23<br>
            Coldhot DJ Background Movie @VVAVEⅢ</h2>
            <p>For : Coldhot<br>
            Motion design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/22">
        <div id="credit">
            <h2>22<br>
            SKYTOPIA DJ Background Movie set 2022</h2>
            <p>For : SKYTOPIA<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/21">
        <div id="credit">
            <h2>21<br>
            Make the PHENOMENON</h2>
            <p>For : Loftowrk Inc.<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/20">
        <div id="credit">
            <h2>20<br>
            Coldhot Release project 2022</h2>
            <p>For : Coldhot<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/19">
        <div id="credit">
            <h2>19<br>
            Coldhot Symbol Logo</h2>
            <p>For : Coldhot<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/18">
        <div id="credit">
            <h2>18<br>
            あいみょん "おいしいパスタがあると聞いて" Space Shower TV オリジナルステッカー</h2>
            <p>For : Space Shower TV<br>
            Graphic design : TAMURA Ikuho<br>
            2020</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/17">
        <div id="credit">
            <h2>17<br>
            AI OTSUKA REMIX PROJECT "さくらんぼ (Kan Sano Remix)"</h2>
            <p>For : avex.inc<br>
            Art Direction, Motion design : Kakeru Mizui<br>
            Graphic art : TAMURA Ikuho<br>
            illustration : Aya Sakamoto<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/16">
        <div id="credit">
            <h2>16<br>
            XXX DEPENDS ON MONEY</h2>
            <p>For : JAGDA国際学生ポスターアワード2020<br>
            Graphic design : TAMURA Ikuho<br>
            JAGDA国際学生ポスターアワード2020 入選作品<br>
            Size : B1<br>
            2020</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/15">
        <div id="credit">
            <h2>15<br>
            Mandarin Brass Logomark</h2>
            <p>For : Mandarin Brass<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/14">
        <div id="credit">
            <h2>14<br>
            NEW YEAR CARD 2022</h2>
            <p>Independent production<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/13">
        <div id="credit">
            <h2>13<br>
            "KinKi Kidsのブンブブーン" 番組内セットポスター</h2>
            <p>For : 株式会社フジテレビジョン<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/12">
        <div id="credit">
            <h2>12<br>
            大森靖子 "自由字架ツアー 2021 in Tokyo Sogetsu Hall" Digital Photobook</h2>
            <p>For : avex.inc<br>
            Graphic design : TAMURA Ikuho<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/11">
        <div id="credit">
            <h2>11<br>
            KAZ "A Short Code for Love" Analog Record</h2>
            <p>For : avex.inc<br>
            Graphic design : TAMURA Ikuho<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/10">
        <div id="credit">
            <h2>10<br>
            DEAN FUJIOKA FamBam YOKAN</h2>
            <p>For : AMUSE INC<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/09">
        <div id="credit">
            <h2>09<br>
            WARPsUP "acoustic cover trilogy"</h2>
            <p>For : avex.inc<br>
            Graphic design : TAMURA Ikuho<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/08">
        <div id="credit">
            <h2>08<br>
            Solo Exhibition "CONTOUR"</h2>
            <p>Planning : Naoto Endo, Shota Okamoto (ORANGE PARLOR)<br>
            Graphic design : TAMURA Ikuho, Shota Okamoto<br>
            Printing : 株式会社ショウエイ, Hand Saw Press, SECONDPRESS.US<br>
            Writing : Nozomi Miura<br>
            Special Thanks : Satsuki Aritome, Minaho Torii, Kate Matsufuji<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/07">
        <div id="credit">
            <h2>07<br>
            INVISIBLE CONTOUR / 見えない輪郭</h2>
            <p>For : Independent production<br>
            Graphic design : TAMURA Ikuho<br>
            第13回 世界ポスタートリエンナーレトヤマ2021 U30部門 入選作品<br>
            第28回ワルシャワ国際ポスタービエンナーレ 入選作品<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/06">
        <div id="credit">
            <h2>06<br>
            NEW YEAR CARD 2021</h2>
            <p>For : 第11回 バンフー年賀状デザインコンテスト<br>
            Graphic design : TAMURA Ikuho<br>
            第11回 バンフー年賀状デザインコンテスト 優秀作品<br>
            2020</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/05">
        <div id="credit">
            <h2>05<br>
            Space Shower TV オリジナル社内ボトル</h2>
            <p>For : Space Shower TV<br>
            Graphic design : TAMURA Ikuho<br>
            2021</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/04">
        <div id="credit">
            <h2>04<br>
            "Mer, Mail, Matière, , ," KV & 30mm maskingtape</h2>
            <p>For : Koudai Mukaiyama, Takuya Sakamoto, Gallery Cafe ULTRA<br>
            Graphic design : TAMURA Ikuho<br>
            2022</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/03">
        <div id="credit">
            <h2>03<br>
            UPE MUZIKA オリジナルカセットテープ "ウぺムジカの時間"</h2>
            <p>For : UPE MUZIKA<br>
            Graphic design : TAMURA Ikuho<br>
            2020</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/02">
        <div id="credit">
            <h2>02<br>
            UPE Logomark</h2>
            <p>For : UPE<br>
            Graphic design : TAMURA Ikuho<br>
            日本タイポグラィ年鑑2020 ロゴタイプ＆シンボルマーク部門 入選<br>
            2020</p>
            <p>-</p>
        </div>
    </a>
    <a href="works/01">
        <div id="credit">
            <h2>01<br>
            HYAKKI-YAKO Graphic 08</h2>
            <p>For : 尾道市立大学卒業制作展2020<br>
            Graphic design : TAMURA Ikuho<br>
            尾道市立大学卒業制作展2020 優秀作品<br>
            Size : B1<br>
            2020</p>
        </div>
    </a>
    
</div>

<style>
#list {
    margin-top: 3rem;
    width: auto;
}

#credit a{  
    width: auto;
}
</style>

